body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.entire {
  background-color: lightgreen;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 25px;
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 50%;
  border: 1px solid black, padding 3px;
}
